.static {
  position: static
}

.fixed {
  position: fixed
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.right-5 {
  right: 1.25rem
}

.top-5 {
  top: 1.25rem
}

.z-10 {
  z-index: 10
}

.mb-5 {
  margin-bottom: 1.25rem
}

.ml-auto {
  margin-left: auto
}

.block {
  display: block
}

.inline {
  display: inline
}

.flex {
  display: flex
}

.hidden {
  display: none
}

.h-64 {
  height: 16rem
}

.w-full {
  width: 100%
}

.flex-row {
  flex-direction: row
}

.items-center {
  align-items: center
}

.justify-end {
  justify-content: flex-end
}

.justify-between {
  justify-content: space-between
}

.rounded-lg {
  border-radius: 0.5rem
}

.border {
  border-width: 1px
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.p-5 {
  padding: 1.25rem
}

.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem
}

.pt-5 {
  padding-top: 1.25rem
}

.pb-0 {
  padding-bottom: 0px
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.font-bold {
  font-weight: 700
}

.uppercase {
  text-transform: uppercase
}

.capitalize {
  text-transform: capitalize
}
