.static {
  position: static
}

.fixed {
  position: fixed
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.mb-5 {
  margin-bottom: 1.25rem
}

.ml-auto {
  margin-left: auto
}

.block {
  display: block
}

.inline {
  display: inline
}

.flex {
  display: flex
}

.hidden {
  display: none
}

.h-64 {
  height: 16rem
}

.w-full {
  width: 100%
}

.rounded-lg {
  border-radius: 0.5rem
}

.border {
  border-width: 1px
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.p-5 {
  padding: 1.25rem
}

.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem
}

.pt-5 {
  padding-top: 1.25rem
}

.pb-0 {
  padding-bottom: 0px
}

.uppercase {
  text-transform: uppercase
}

.capitalize {
  text-transform: capitalize
}
